{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">

    <div class="product-detail-container">
        <h1>{{ product.name }}</h1>
        <img src="{{ product.image.url }}" width="200">
        <p>{{ product.description }}</p>
        <p class="price">${{ product.price }}</p>
        <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
        {% if user.is_staff %}
            <a href="{% url 'edit_product' product.id %}" class="edit-button">Edit Product</a>
        {% endif %}
    </div>
{% endblock %}
